@page "/register"

@inherits BaseView<ViewModels.RegisterViewModel>

@attribute [AllowAnonymous]

<div class="container mt-5 w-50">
  <h1>Registration</h1>
  <EditForm Model="@Model" OnValidSubmit="Model.RegisterAsync">
    <DataAnnotationsValidator/>
    <div class="form-group">
      <label for="email-input">Email:</label>
      <InputText type="email" class="form-control" id="email-input" @bind-Value="@Model.Email"/>
      <ValidationMessage For="@(() => Model.Email)"/>
    </div>
    <div class="form-group">
      <label for="password-input">Password:</label>
      <InputText type="password" class="form-control" id="password-input" @bind-Value="@Model.Password"/>
      <ValidationMessage For="@(() => Model.Password)"/>
    </div>
    <button type="submit" class="btn btn-primary">Login</button>
  </EditForm>
</div>